
.hamburger {
    display: none;
    position: absolute;
    z-index: 20;
    right: 0;

    &__button{
        display: flex;
        align-items: center;}
         
        &__nav {
            min-width: 100px;
        }
        
        &__links{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding-right: 40px;
            gap: 10px;
        }
}

 
/* Медиазапрос для мобильных устройств */
@media (max-width: 768px) {
    .hamburger {
        display: flex;
        flex-direction: row-reverse;
    }

}
.ham4 {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    user-select: none;
}
.ham4 path{
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: $colorAccentSite;
    stroke-width: 5.5;
    stroke-linecap: round;
}
.ham4.active {
    transform: rotate(-45deg);
}
.ham4 .top {
    stroke-dasharray: 40 121;
}
.ham4 .bottom {
    stroke-dasharray: 40 121;
}
.ham4.active .top {
    stroke-dashoffset: -68px;
}
.ham4.active .bottom {
    stroke-dashoffset: -68px;
}