.call-request {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0px;

    &__box {
        background-color: $colorBox;
        padding: 4% 8%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        padding: 0px 0px 15px 0px;
        color: #D9D9D9;
        font-family: "Roboto";
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.questionnaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    &__info {
        color: $colorAccentSite;
        font-family: $fontFamilySite;
        font-size: 1rem;
        font-weight: 400;
        line-height: 137.99%;
    }

    &__input {
        min-width: 350px;
        height: 50px;
        border-radius: 10px;
        padding-left: 15px;
    }

    &__submit {
        width: 250px;
        height: 50px;
        border-radius: 10px;
        background-color: $colorAccentSite;
        padding: 8px;

        color: $colorSelectSite;
        font-family: $fontFamilySite;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 137.99%;
        text-transform: uppercase;

        border: 2px solid transparent;

        &:hover {
            border: 2px solid $colorAccentSite;
            color: $colorAccentSite;
            background-color: $colorSelectSite;
            transition: all 0, 3s;
        }
    }
}