@media (max-width: 1520px) {
    .center {
        padding-left: 5%;
        padding-right: 5%;
    }

    html {
        font-size: 16px;
    }

    // Main Page
    .header {
        &__navbar {
            gap: 100px;
        }
    }

    .services {
        &__flex-box {
            grid-template-columns: repeat(2, 350px);
        }

    }

    .portfolio {
        &__box {
            gap: 20px;
        }

    }
}

@media (max-width: 768px) {

    html {
        font-size: 14px;
    }

    .center {
        padding-left: 2%;
        padding-right: 2%;
    }

    .title {
        padding-top: 30px;
        padding-bottom: 25px
    }

    .logo {
        height: 50px;
    }


    // Main Page
    .header {
        &__navbar {
            display: none;
        }

        &__call-reques-btn {
            display: none;
        }
    }

    .application {
        grid-template-columns: repeat(1, 1fr);

        &__right {
            grid-row-start: 1;
        }

        &__btn {
            padding: 12px 50px;
        }
    }

    .about {
        &__box {
            grid-template-columns: repeat(1, 1fr);
        }

        &__box-left {
            display: none;
        }

        &__box-right {
            padding: 3%;
        }
    }

    .team {

        &__box {
            gap: 10px;
            max-width: 40%;
        }

        &__flex {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: row;
        }
    }

    .portfolio {
        &__box {
            gap: 10px;
        }

        &__photo {
            max-width: 45%;
        }
    }

    .services {
        &__flex-box {
            grid-template-columns: repeat(2, 350px);
            gap: 10px;
        }

    }

    .footer {
        justify-content: space-between;
        align-items: center;

        &__contact-tel {
            padding-bottom: 0px;
        }

        &__socials-nav {
            gap: 15px;
        }
    }

    // Services Page

    .catalog {
        &__box {
            flex-direction: column;
            gap: 15px;
            padding: 15px;
        }

        &__desc {
            min-width: 100%;
            flex-direction: row;
            gap: 15px;
        }

        &__photo {
            padding-bottom: 0px;
            max-width: 40%;
        }

        &__box-info {
            gap: 15px;
        }

        &__text {
            padding-bottom: 5px;
        }
    }
}

@media (max-width: 719px) {
    .services {
        &__flex-box {
            grid-template-columns: repeat(1, 350px);
        }

        &__photo {
            padding-bottom: 10px
        }

        &__box-info {
            align-items: center;
            gap: 20px;
        }

        &__info {
            font-size: 1rem;
        }
    }

}


@media (max-width: 425px) {

    html {
        font-size: 12px;
    }

    .footer {
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: flex-start;

        &__socials {
            flex-direction: row;
            align-items: center;
        }

        &__tel {
            display: none;
        }

        &__contact-schedule {
            padding-left: 0px;
        }
    }

    .social {
        height: 41px;
    }

    // Services Page

    .catalog {

        &__box-info {
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 10px;
        }
    }

    // coll reques Page
    .questionnaire {
        &__input {
            height: 40px;
            width: 250px;
        }

        &__submit {
            width: 200px;
            height: 40px;
        }
    }
}

@media (max-width: 320px) {

    // Main Page
    .services {
        &__flex-box {
            grid-template-columns: repeat(1, 300px);
        }

        &__info {
            font-size: 0.8rem;
        }
    }
}