@media (max-width: 425px) {

    html {
        font-size: 12px;
    }

    .services {
        &__flex-box {
            grid-template-columns: repeat(1, 350px);
        }

        &__photo {
            padding-bottom: 10px
        }

        &__box-info {
            align-items: center;
            gap: 20px;
        }
    }

    .footer {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;

        &__socials {
            flex-direction: row;
            align-items: center;
        }
    }

    // coll reques Page
    .questionnaire {
        &__input {
            height: 30px;
            width: 200px;
        }

        &__submit {
            width: 150px;
            height: 30px;
        }
    }
}