.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}
.catalog__box {
  background-color: #1c1c23;
  display: flex;
  gap: 50px;
  padding: 50px;
  margin-bottom: 30px;
  min-width: 100%;
}
.catalog__box_position-reverse {
  flex-direction: row-reverse;
}
.catalog__desc {
  display: flex;
  flex-direction: column;
  min-width: 350px;
}
.catalog__box-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.catalog__photo {
  padding-bottom: 35px;
}
.catalog__text {
  color: #D9D9D9;
  font-family: "Roboto";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
  padding-bottom: 15px;
}
.catalog__info {
  color: #D9D9D9;
  font-family: "Roboto";
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
.catalog__info_price {
  color: #DFB600;
}

.call-request {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px;
}
.call-request__box {
  background-color: #1c1c23;
  padding: 4% 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.call-request__title {
  padding-bottom: 15px;
  color: #D9D9D9;
  font-family: "Roboto";
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.questionnaire {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.questionnaire__box {
  display: flex;
  flex-direction: column;
}
.questionnaire__info {
  color: #DFB600;
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 400;
  line-height: 137.99%;
}
.questionnaire__input {
  min-width: 350px;
  height: 50px;
  border-radius: 10px;
  padding-left: 15px;
  background-color: #D9D9D9;
}
.questionnaire__submit {
  width: 250px;
  height: 50px;
  border-radius: 10px;
  background-color: #DFB600;
  padding: 8px;
  color: #121217;
  font-family: "Roboto";
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 137.99%;
  text-transform: uppercase;
  border: 2px solid transparent;
}
.questionnaire__submit:hover {
  border: 2px solid #DFB600;
  color: #DFB600;
  background-color: #121217;
  transition: all 0, 3s;
}

html {
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #121217;
}

.center {
  padding-left: calc(50% - 750px);
  padding-right: calc(50% - 750px);
}

.title {
  color: #D9D9D9;
  font-family: "Roboto";
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 55px;
  padding-top: 55px;
}

.baner {
  min-width: 38vw;
  max-height: 60vw;
}

/*Header*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
}
.header__navbar {
  display: flex;
  gap: 170px;
}
.header__link {
  color: #D9D9D9;
  text-align: center;
  font-family: "Roboto";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 137.988%;
  text-transform: uppercase;
}
.header__link:hover {
  color: #DFB600;
}
.header__btn {
  color: #DFB600;
  text-align: center;
  font-family: "Roboto";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 137.988%;
  text-transform: uppercase;
}

/*Application*/
.application {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.application__left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.application__title {
  color: #D9D9D9;
  text-align: center;
  font-family: "Roboto";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 137.988%;
  text-transform: uppercase;
  padding-bottom: 31px;
}
.application__btn {
  background-color: #DFB600;
  border-radius: 10px;
  color: #121217;
  font-family: "Roboto";
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 137.988%;
  text-transform: uppercase;
  padding: 22px 65px;
  border: 2px solid transparent;
}
.application__btn:hover {
  border: 2px solid #DFB600;
  color: #DFB600;
  background-color: #121217;
  transition: all 0, 3s;
}

/*About*/
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}
.about__desc {
  color: #D9D9D9;
  font-family: "Roboto";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 15px;
}

/*Portfolio*/
.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio__box {
  display: flex;
  flex-direction: row;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}
.portfolio__photo {
  width: 30%;
}

/*Team*/
.team {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team__flex {
  display: flex;
  gap: 60px;
  padding-bottom: 23px;
}
.team__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.team__img {
  border-radius: 50%;
}
.team__name {
  color: #D9D9D9;
  text-align: center;
  font-family: "Roboto";
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 700;
  line-height: 137.988%;
}
.team__text {
  color: #D9D9D9;
  text-align: center;
  font-family: "Roboto";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 137.988%;
  max-width: 65%;
}

/*Services*/
.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}
.services__flex {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.services__flex-box {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 350px);
  gap: 20px;
  padding-bottom: 40px;
}
.services__box {
  background-color: #1c1c23;
  display: flex;
  flex-direction: column;
  padding: 35px;
}
.services__box-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.services__photo {
  padding-bottom: 35px;
}
.services__info {
  color: #D9D9D9;
  font-family: "Roboto";
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
.services__info_price {
  color: #DFB600;
}
.services__details {
  color: #DFB600;
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 700;
  line-height: 137.99%;
  text-align: left;
  text-transform: uppercase;
}

/*Footer*/
.footer {
  background-color: #0F0F13;
  display: flex;
  justify-content: space-around;
  min-height: 230px;
  padding-top: 29px;
}
.footer__text {
  color: #D9D9D9;
  font-family: "Roboto";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__contact-tel {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-bottom: 45px;
}
.footer__contact-schedule {
  display: flex;
  flex-direction: column;
  padding-left: 57px;
}
.footer__socials {
  display: flex;
  gap: 15px;
  flex-direction: column;
}
.footer__socials-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

@media (max-width: 375px) {
  .portfolio__box {
    gap: 20px;
  }
}/*# sourceMappingURL=style.css.map */