@import 'vars';
@import 'services';

html {
    font-size: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: $colorSelectSite;
}

.center {
    padding-left: calc(50% - $widthSite / 2);
    padding-right: calc(50% - $widthSite / 2);
}

.title {
    color: $colorText;
    font-family: $fontFamilySite;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 55px;
    padding-top: 55px;
}

.baner {
    min-width: 38vw;
    max-height: 60vw;
}

/*Header*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;

    &__application {
        color: $colorAccentSite;
        text-align: center;
        font-family: $fontFamilySite;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 700;
        line-height: 137.988%;
        text-transform: uppercase;
    }

    &__navbar {
        display: flex;
        gap: 170px;
    }

    &__link {
        color: $colorText;
        text-align: center;
        font-family: $fontFamilySite;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 137.988%;
        text-transform: uppercase;

        &:hover {
            color: $colorAccentSite;
        }
    }
}

/*Application*/
.application {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;

    &__left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        color: $colorText;
        text-align: center;
        font-family: $fontFamilySite;
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 137.988%;
        text-transform: uppercase;
        padding-bottom: 31px;
    }

    &__btn {
        background-color: $colorAccentSite;
        border-radius: 10px;
        color: $colorSelectSite;
        font-family: $fontFamilySite;
        text-align: center;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 700;
        line-height: 137.988%;
        text-transform: uppercase;

        padding: 22px 65px;
        border: 2px solid transparent;

        &:hover {
            border: 2px solid $colorAccentSite;
            color: $colorAccentSite;
            background-color: $colorSelectSite;
            transition: all 0, 3s;
        }
    }
}


/*About*/
.about {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 40px;
    }

    &__desc {
        color: $colorText;
        font-family: $fontFamilySite;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-bottom: 15px;
    }
}

/*Portfolio*/
.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__box {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
}

/*Team*/
.team {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__flex {
        display: flex;
        gap: 60px;
        padding-bottom: 23px;
    }

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    &__img {
        border-radius: 50%;
    }

    &__name {
        color: $colorText;
        text-align: center;
        font-family: $fontFamilySite;
        font-size: 1.7rem;
        font-style: normal;
        font-weight: 700;
        line-height: 137.988%;
    }

    &__text {
        color: $colorText;
        text-align: center;
        font-family: $fontFamilySite;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 137.988%;
        max-width: 65%;
    }
}

/*Services*/

.services {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;

    &__flex {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__flex-box {
        display: flex;
        align-items: center;
        gap: 50px;
        padding-bottom: 40px;
    }

    &__box {
        background-color: $colorBox;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 35px;
    }

    &__box-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
    }

    &__photo {
        padding-bottom: 35px;
    }

    &__info {
        color: $colorText;
        font-family: $fontFamilySite;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.2px;

        &_price {
            color: $colorAccentSite;
        }
    }

    &__details {
        color: $colorAccentSite;
        font-family: $fontFamilySite;
        font-size: 1rem;
        font-weight: 700;
        line-height: 137.99%;
        text-align: left;
        text-transform: uppercase;
    }


}

/*Footer*/
.footer {
    background-color: $colorFooter;
    display: flex;
    justify-content: space-around;

    min-height: 230px;
    padding-top: 29px;

    &__text {
        color: $colorText;
        font-family: $fontFamilySite;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__contact-tel {
        display: flex;
        align-items: center;
        gap: 15px;
        padding-bottom: 45px;
    }

    &__contact-schedule {
        display: flex;
        flex-direction: column;
        padding-left: 57px;
    }

    &__socials {
        display: flex;
        gap: 15px;
        flex-direction: column;
    }

    &__socials-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
}